table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
}

.Topic-container {
  display: flex;
  justify-content: center;
}

.Topic-main h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}


.Topic-table table{
  width: auto;
  height: 75%;
}